<section class="comments">
    <h3>Góc Làm Đẹp</h3>
	<marquee id="marq" scrollamount="3" direction="left" loop="100" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

<a href="https://goclamdep.xyz/nho-an-sach/"><img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/67490452_1343540365800065_2280891650110652416_n.jpg?_nc_cat=103&_nc_oc=AQkHZ-LVE6nkyHWK9TRcNA1kpE060B9E-rmSl5RquHGEBsDokROXcZV7751pSyyg6smNgFaSbevhXJoc2WRO25Pn&_nc_ht=scontent.fsgn2-1.fna&oh=380836df2a7756940c19774014999cde&oe=5DAF1AA4" title="Nhờ ăn sạch mà giảm hẳn 4kg trong 1 tháng" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/day-chinh-la/"><img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.0-9/67394259_1343540352466733_6311370912948027392_n.jpg?_nc_cat=101&_nc_oc=AQmBwlVRM-HlQeuJWQSy3dCX-2LuhMD-QywMgOjvj_oqczN5Oc1e-q8HhTBSM7e6ROmw1pOtkLgyZLJ33CiKtvMO&_nc_ht=scontent.fsgn2-4.fna&oh=5b25cc497fb2cd566c394e4ee50135da&oe=5DB4AA21" title="Sai lầm phổ biến nhất khi chăm sóc da 10 bước kiểu Hàn" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/mat-na-dau-tay/"><img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.0-9/67192825_1343540342466734_585469171328876544_n.jpg?_nc_cat=106&_nc_oc=AQk60VJdTbVSoKTdoD0SfBGbk8sEaqMxBfCBbaxBk-WeR8MGy6AKq_FEzeUdmvN_PpE6chbsZOYUzE5zV544IiVG&_nc_ht=scontent.fsgn2-3.fna&oh=8cb9c8b981bf9c6f5a206e1b8897a7fc&oe=5DB141A9" title="Cách Làm Mặt Nạ Dâu Tây Giúp Da Trắng Mịn" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/3-nguoi-dep-viet/"><img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/67046965_1343540359133399_4773168795822850048_n.jpg?_nc_cat=100&_nc_oc=AQm_SHUl0dUPnIs4TJ8YF1m-EqsCeho2vP56AclSW1UN1TB-edCKTTeCts0U2UAwVUeEgkqvbKXUqgju_6wwvb9B&_nc_ht=scontent.fsgn2-2.fna&oh=f67dbd3fd3d3cc2cba1bcef3e507f87f&oe=5DB43B89" title="3 người đẹp Việt tiết lộ chế độ ăn giảm cân thành công" width="300" height="200"/> </a>





</marquee>
    <div id="disqus_thread"></div>
</section>
<center><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- haiben -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-idhere"
     data-ad-slot="2164496396"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
<script type="text/javascript">
    var disqus_loaded = false;

    function load_disqus()
    {
        disqus_loaded = true;
        var disqus_shortname = '{{site.disqus_username}}';
        var disqus_title = '{{page.title.replace("'", "\\'")}}';
        var disqus_url = '{{page.url}}';
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        var ldr = document.getElementById('disqus_loader');
    };
    window.onscroll = function(e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (disqus_loaded==false)
                load_disqus()
        }
    };
</script>
