<section class="comments">
    <h3>Góc Làm Đẹp</h3>
	<marquee id="marq" scrollamount="3" direction="left" loop="100" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

<a href="https://goclamdep.xyz/nho-an-sach/"><img src="https://live.staticflickr.com/65535/49015781503_0e16f27125_b.jpg" title="Nhờ ăn sạch mà giảm hẳn 4kg trong 1 tháng" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/day-chinh-la/"><img src="https://live.staticflickr.com/65535/49015781578_6723e2af84_b.jpg" title="Sai lầm phổ biến nhất khi chăm sóc da 10 bước kiểu Hàn" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/mat-na-dau-tay/"><img src="https://live.staticflickr.com/65535/49015781683_80e1c99c71_b.jpg" title="Cách Làm Mặt Nạ Dâu Tây Giúp Da Trắng Mịn" width="300" height="200"/> </a>

<a href="https://goclamdep.xyz/3-nguoi-dep-viet/"><img src="https://live.staticflickr.com/65535/49016300286_6232ae36d5_b.jpg" title="3 người đẹp Việt tiết lộ chế độ ăn giảm cân thành công" width="300" height="200"/> </a>





</marquee>
    <div id="disqus_thread"></div>
</section>

<script type="text/javascript">
    var disqus_loaded = false;

    function load_disqus()
    {
        disqus_loaded = true;
        var disqus_shortname = '{{site.disqus_username}}';
        var disqus_title = '{{page.title.replace("'", "\\'")}}';
        var disqus_url = '{{page.url}}';
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        var ldr = document.getElementById('disqus_loader');
    };
    window.onscroll = function(e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (disqus_loaded==false)
                load_disqus()
        }
    };
</script>
