<section class="share">
    <h3>Share</h3>
    <a aria-label="Compartilhar no Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="Compartilhar no Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Share on Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
        <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
    </a>
	<marquee id="marq" scrollamount="3" direction="left" loop="100" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

<a href="https://myphamcacloai.net/kem-mun/"><img src="https://live.staticflickr.com/65535/48999037703_4e98fd23b1_b.jpg" title="Kem trị mụn - lành sẹo" width="300" height="300"/> </a>

<a href="https://myphamcacloai.net/kem-tay-te-bao-chet/"><img src="https://live.staticflickr.com/65535/48999744302_d7d64c8a00_b.jpg" title="Kem tẩy tế bào chết" width="300" height="300"/> </a>

<a href="https://myphamcacloai.net/kem-trang-da-ngua-lao-hoa/"><img src="https://live.staticflickr.com/65535/49004488261_c89663bb8d_b.jpg" title="Kem trắng da - ngừa lão hoá" width="300" height="300"/> </a>

<a href="https://myphamcacloai.net/kem-duong-da-chong-nang/"><img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/66672493_1337474513073317_266655097566527488_n.jpg?_nc_cat=107&_nc_oc=AQndMQsrOFZBQPPyOvKS9gQARDFp0UuhpwPS9h7h60v2XaeOSKx9HqQWj9m1b9AKeFg&_nc_ht=scontent.fsgn2-1.fna&oh=729c3d205a80475b58c6eb197ecd207c&oe=5DC1EEF8" title="Kem dưỡng da - chống nắng" width="300" height="300"/> </a>

<a href="https://myphamcacloai.net/sua-rua-mat/"><img src="https://live.staticflickr.com/65535/48999798112_853627969e_b.jpg" title="Sữa rửa mặt củ đậu - trà xanh" width="300" height="300"/> </a>

<a href="https://myphamcacloai.net/sua-tam/"><img src="https://live.staticflickr.com/65535/48999597121_c6e67a2e93_b.jpg" title="Sữa Tắm" width="300" height="300"/> </a>



</marquee>
</section>
