<section class="share">
    <h3>Share</h3>
    <a aria-label="Compartilhar no Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="Compartilhar no Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Share on Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
        <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
    </a>
	<marquee id="marq" scrollamount="3" direction="left" loop="50" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

<a href="Link"><img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.0-9/65520166_1328144850672950_7016732558746451968_n.jpg?_nc_cat=106&_nc_oc=AQkE6lBTeMNVEt7YmpH4792_hnJCA-aE5jfW1cJOe0RTQrHqTygQsHLXVIaUS0qCbto&_nc_ht=scontent.fsgn2-3.fna&oh=2447f893f1dd5d994701482d8d9f43f1&oe=5DB709AF" title="Ghi chú cho ảnh" width="300" height="300"/> </a>


<a href="Link"><img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/65650973_1328705630616872_6831684717432012800_n.jpg?_nc_cat=102&_nc_eui2=AeGh3rDLEOc7R51Q-GUXUbo-KSd94iHw0z_4mQG00EDZH7HDytScKX9Ynu1qVibgHnY5JNP-I7dOOcgZnw3yAIwxU-EJYiB_SLdDLZeE6wXHqw&_nc_oc=AQmDcOHGf71_FsYdggwygPA2ihgpMdfidyOkYQ9sdQieqzQNFmLLG8Xzrf507TY1u8s&_nc_ht=scontent.fsgn2-2.fna&oh=80a8402ff129305fff94b49e35c25485&oe=5DAE3EE7" title="Ghi chú cho ảnh" width="300" height="300"/> </a>


<a href="Link"><img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/66056247_1328143557339746_3335518507411439616_n.jpg?_nc_cat=100&_nc_oc=AQmsh8HRL-3QC5hUntwsRDtELfUcRWz0NUbV3sYgxZASxuZL4p2HpAcVIPWTGukYuOE&_nc_ht=scontent.fsgn2-2.fna&oh=b48a4b3626d37c40ae376fec8014adca&oe=5D7C42A0" title="Ghi chú cho ảnh" width="300" height="300"/> </a>
</marquee>
</section>
